body{
    background-color: rgba(241, 239, 239, 0.809);
    /*background-color: rgba(220, 220, 220, 0.8);*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#nav-bar{
    background-color:rgb(0, 0, 0,0.75);
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: solid #ccc;
}

.bar-above{
    text-align:center;
    font-size: 20px;
    color:rgb(228, 228, 228);
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.bar-above a {
    text-decoration: none;
    color:rgb(228, 228, 228);
}

.bar-above a:hover{
    color: rgb(167, 145, 193);
}

.me{
    float: left;
    width: 45%;
}

img{
    transition: 0.7s;
    border-radius: 170px;
    margin-top: 30px;
    margin-left:50px;
}

img:hover{
    transform: scale(105%);
}

button{
    border-radius: 5px;
}

aside{
    padding-right:40px;
    padding-top:100px;
    padding-left: 40px;
    margin-bottom: 150px;
    float: left;
    width:55%;
    box-sizing: border-box;
    padding-bottom: 15px;
}

#intro-abt-me{
    padding-bottom: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0,0.8);
}

#salut{
    /*background-color: aqua;*/
    float:right;
    margin-right:98px;
    font-size: 60px;
    box-sizing: border-box;
}

#intro{
    /*background-color: violet;*/
    float:right;
    margin-right:40px;
    margin-top: 10px;
    margin-left: 3px;
    font-size: 20px;
    box-sizing: border-box;
}

#read-abt-me{
    background-color: rgb(0, 0, 0,0.8);
    margin-left: 3px;
}

#read-abt-me a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color:rgb(228, 228, 228);
}

#read-abt-me a:hover{
    color: rgb(167, 145, 193);
}

#contact-me{
    margin-top: 20px;
}

#contact-me textarea{
    margin-top: 20px;
    margin-left:5px;
    padding-bottom:50px;
    padding-right: 100px;
}

.message{
    font-size: 20px;
    margin-bottom: 10px;
}

.block{
}

#foot{
    border-top: solid #ccc;
    background-color: rgb(0, 0, 0,0.8);
    color:rgb(228, 228, 228);
    padding-bottom: 30px;
}

#foot p{
    text-align: center;
    padding-top: 20px;
}


@media(max-width:820px){
    #salut{
        width: 100%;
        margin-right:0px;
    }
    
    #intro{
        width: 100%;
        margin-right:0px;
    }

}